agno
annotated-types
anyio
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
cachelib
certifi
charset-normalizer
click
colorama
cssselect
ddgs
decorator
defusedxml
distro
docopt
docstring_parser
docx
duckduckgo_search
executing
fastjsonschema
feedfinder2
feedparser
filelock
Flask
gunicorn
Flask-Session
git-filter-repo
gitdb
GitPython
h11
httpcore
httpx
idna
ipython
itsdangerous
jedi
jieba3k
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
lxml
lxml_html_clean
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
MouseInfo
msgspec
nbclient
nbconvert
nbformat
newspaper3k
nltk
numpy
openai
packaging
pandocfilters
parso
pickleshare
pillow
pipreqs
platformdirs
primp
prompt_toolkit
pure_eval
PyAutoGUI
pydantic
pydantic-settings
pydantic_core
PyGetWindow
Pygments
PyMsgBox
PyPDF2
pyperclip
PyRect
PyScreeze
python-dateutil
python-docx
python-dotenv
python-multipart
pytweening
pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-file
rich
rpds-py
sgmllib3k
shellingham
six
smmap
sniffio
soupsieve
stack-data
tinycss2
tinysegmenter
tldextract
tomli
tornado
tqdm
traitlets
typer
typing-inspection
typing_extensions
urllib3
wcwidth
webencodings
Werkzeug
yarg
